.programs_container {
    width:1380px;
    padding: 0 30px;
    background:white;
    border:2px solid;
    border-radius:20px;
}

.tab-content {
    padding-top:20px;
}

.functional {
    display: flex;
    justify-content: space-between;
}

.article_materials {
    display: flex;
    justify-content: space-between;
}

.liText {
    list-style-type: circle;
}

.hljs {
    padding: 0 !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.td {
    text-align: center;
}


