.programs_container {
    width:1380px;
    padding: 0 30px;
    background:white;
    border:2px solid;
    border-radius:20px;
}

.tab-content {
    padding-top:20px;
}

.card {
     padding: 10px;
    border-width: 5px;
    border-color: rgb(147 201 247);
    border-style: ridge;
}

.add_article_container{

}

.article-form, .images-form{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-width: 5px;
    border-color: rgb(147 201 247);
    border-style: ridge;
}

.functional {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-file-dummy, .input-file-btn {
  cursor: pointer;
}

.input-file-dummy[readonly] {
  background-color: white;
}
.article_materials {
    display: flex;
    justify-content: space-between;
}

.edit-article_materials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liText {
    list-style-type: circle;
}

.hljs {
    padding: 0 !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.td {
    text-align: center;
}

.th {
    font-size: 18px;
}


