<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="types_prog_languages/types_prog_languages.css">

</head>

<body>
    <div class="content_type_container">
        <button class="content_type_btn" ng-click="openJavaProgram()">Java</button>
        <button class="content_type_btn" ng-click="openProgram()">C++</button>
        <button class="content_type_btn" ng-click="openProgram()">Php</button>
        <button class="content_type_btn" ng-click="openProgram()">Python</button>
        <button class="content_type_btn" ng-click="openProgram()">Go</button>
        <button class="content_type_btn" ng-click="openProgram()">Another</button>
    </div>
</body>

</html>