<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="types_prog_languages/types_prog_languages.css">
</head>

<body>

    <div class="content_type_container" >
    <!--        <button class="content_type_btn" id="java_btn" ng-click="openJavaProgram()"></button>-->
            <button class="content_type_btn" id="java_btn" ng-click="openJavaProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" id="c_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/cBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" id="php_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/phpBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" id="python_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/pythonBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" id="go_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/goBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Опсиание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Опсиание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Опсиание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Описание</h2>
                    </div>
                </div>
            </button>
            <button class="content_type_btn" ng-click="openProgram()">
                <div class="front">
                    <img src="types_prog_languages/img/javaBtn.jpg" alt="">
                </div>
                <div class="back">
                    <div class="back-content">
                        <h2>Опсиание</h2>
                    </div>
                </div>
            </button>

</div>
<!--    <div class="card center">-->
<!--        <div class="front">-->
<!--            <img src="img/javaBtn.jpg" alt="">-->
<!--        </div>-->
<!--        <div class="back">-->
<!--            <div class="back-content center">-->
<!--                <h2>Опсиание</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</body>

</html>