.programs_container {
    width:1380px;
}

/* Строка поиска и фильтров*/

.function_line_container {
   padding: 0 30px;
}

.function_line {
    display: flex;
    justify-content: space-between;
}

.function_line_container:after {
   content:"";
   display:block;
   width: 100%;
   margin: 1px auto 0;
   border: 0.5px solid rgba(69, 69, 69, 0.12);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.27);
}

.function_line_search {
    display: flex;
}

/* Слайдер */
.rev_slider {
    position:relative;
    padding: 0 30px;

}

.slick-track{
margin: 0 auto;
    display:flex;


/*    align-items:flex-start;*/
}

.rev_slider .slick-arrow {
    position:absolute;
    top:35%;
    z-index:10;
    font-size:0;
    width: 30px;
    height: 126px;
    border:0;
}

.rev_slider .slick-arrow.slick-prev{
left:0;
background: url('img/slideBackBtn.svg') 0 0 no-repeat;
}

.rev_slider .slick-arrow.slick-next{
right:0;
background: url('img/slideUpBtn.svg') 0 0 no-repeat;
}

.slide {
margin-top: 10px;
height: 260px;
}

.rev_slider .slick-dots{
    display:flex;
    align-items:center;
    justify-content: center;
}

.rev_slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}

.rev_slider .slick-dots button{
    font-size: 0;
    width:5px;
    height:15px;
    background-color: #fff;
    border-radius: 50%;
}

.rev_slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #fff;
}

/* Табличное представление */

.slide_inner {
    display:flex;
    padding-left: 18px;
    width:275px;
    height:260px;
    border-radius: 16px;
    margin-right:63px;
    border: double 4px transparent;
}

.slide_inner_line {
text-align: center;
    height:52px;
}

#rate_line {
    display:flex;
    align-items: center;
    padding-left:60px;
}


/* внешний контейнер - фон с серыми звездочками */
.rate_background {
    position: relative;
    width: 80px;
    height: 16px;
    background:url('img/grayStar.png') repeat-x;
}

/* внутренний контейнер - полоса рейтинга с золотыми звездочками */
.rate_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 16px;
    background:url('img/goldStar.png') repeat-x;
}

.slide_inner {
    background: none;
    position: relative;
    border: none;
}

.slide_inner:hover, .slide_inner:focus {
/*    -webkit-box-reflect: below 30px linear-gradient(transparent,transparent,#0000000f);*/
}

.slide_inner:hover::after, .slide_inner:focus::after {
  animation: none;
  display: none;
}

.front, .back {
    width:100%;
    height:100%;
    overflow:hidden;
    backface-visibility:hidden;
    position:absolute;
}

.front{
    height:100%;
    width:100%;
    object-fit: none;
}

.front{
    transform:perspective(600px) rotateY(0deg);
    border: 3px solid #fff;
    top: 0px;
    border-radius: 30px;
    box-shadow: 0 0 15px #0cf,inset 0 0 10px #0cf;

}

.back-content {
    width:100%;
    text-align: center;
    color:black;
}

.back{
    transform:perspective(600px) rotateY(180deg);
    background-color:white;
    top: 0px;
    border-radius: 30px;
    box-shadow: 0 0 15px #a1ecff,inset 0 0 10px #0cf;
    border:3px solid #fff;
}

.slide_inner:hover > .front {
    transform:perspective(600px) rotateY(-180deg);
}

.slide_inner:hover > .back {
    transform:perspective(600px) rotateY(0deg);
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


