<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="programs_list/programs_list.css">

</head>

<body >
    <div class="programs_container">
        <div class="function_line_container">
            <div class="function_line">
                <button class="btn btn-outline-info" ng-click="returnBtnClick()"
                        style="color: lavenderblush;text-shadow: 0 0 5px white, 0 0 10px #00ffff, 0 0 15px #000000, 0 0 20px white;">Назад</button>
                <form class="function_line_search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Поиск...">
                    <button class="btn btn-outline-info" type="submit">Поиск</button>
                </form>
            </div>
        </div>

        <div class="rev_slider" >
            <div class="slide" ng-repeat="a in articles">
                <div class="slide_inner">
                    <div class="front">
                        <div class="slide_inner_line">{{a.author}}</div>
                        <div class="slide_inner_line" style="margin-top: 30px;">{{a.title}}</div>
                    </div>

                    <div class="back">
                        <div class="back-content">
                            <p></p>
                            <div class="slide_inner_line">Комментарии: {{a.numberOfComments}}</div>
                            <div class="slide_inner_line">Оценки: {{a.numberOfRatings}}</div>
                            <div class="slide_inner_line" >
                                <div class="rate_background">
                                    <div class="rate_bar" style="width:{{a.averageRating}}%;"></div>
                                </div>
                            </div>
                            <div class="slide_inner_line">
                                <button class="btn btn-primary" ng-click="openProgram(a.id,a.author,a.title)">Открыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>