<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="program-view/program-view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body >
    <div class="function_line_container">
        <div class="function_line">
            <button class="btn btn-outline-info" ng-click="returnBtnClick()"
                    style="color: lavenderblush;text-shadow: 0 0 5px white, 0 0 10px #00ffff, 0 0 15px #000000, 0 0 20px white;">Назад</button>
        </div>

    </div>
    <div class="programs_container">
        <div class="info-container" >
            <div class="article-info" style="display: flex;flex-direction: column;">
                <div>
                    <label id="author-label">Автор</label>
                    <span>{{author}}</span>
                </div>
                <p></p>
                <div>
                    <label id="title-label">Название</label>
                    <span>{{title}}</span>
                </div>

            </div>
            <div class="rating_container_inner_view" >
                <label id="rating-label">Рейтинг</label>
                <div class="rate_background" style="background-size: 26px;">
                    <div class="rate_bar" style="width:{{rating_info.averageRating}}%;background-size: 26px;"></div>
                </div>
            </div>
        </div>
        <p></p>
        <p ng-bind-html="content1"></p>
    </div>
    <div class="rating_container">
        <div class="rating_container_inner_rate" ng-show="!rating_info.userAlreadySetScore && isUserLoggedIn()">
            <label style="margin-right: 20px;">Ваша оценка:</label>
            <form style="display: flex;align-items: center;" ng-submit="setScore()">
                <div class="form-group" ng-submit="setScore()">

                    <div class="star-rating">
                        <div class="star-rating__wrap" >
                            <input class="star-rating__input" id="star-5" type="radio" name="rating" value="5" ng-model="rate_value.select">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-5" title="Отлично"></label>
                            <input class="star-rating__input" id="star-4" type="radio" name="rating" value="4" ng-model="rate_value.select">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-4" title="Хорошо"></label>
                            <input class="star-rating__input" id="star-3" type="radio" name="rating" value="3" ng-model="rate_value.select">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-3" title="Удовлетворительно"></label>
                            <input class="star-rating__input" id="star-2" type="radio" name="rating" value="2" ng-model="rate_value.select">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-2" title="Плохо"></label>
                            <input class="star-rating__input" id="star-1" type="radio" name="rating" value="1" ng-model="rate_value.select">
                            <label class="star-rating__ico fa fa-star-o fa-lg" for="star-1" title="Ужасно"></label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-primary" style="margin-left: 10px;" type="submit">Оценить
                </button>
            </form>
        </div>
    </div>
    <div class="comment_section">
        <div class="function_line_container">
            <div class="function_line">
                <label>Комментарии ({{article_comments.length}}) </label>
            </div>
        </div>
        <div class="comment_container" >
            <div ng-show="isUserLoggedIn()">
                <form novalidate ng-submit="createComment()">
                    <label>{{username}}</label>
                    <p></p>
                    <textarea class="form-control"  type="text" placeholder="Ваш комментарий"  ng-model="article_comment.content" rows="3"></textarea>
                    <p></p>
                    <button type="submit" class="btn btn-primary">Сохранить комментарий</button>
                </form>
            </div>
            <div id="comment-field"></div>
        </div>
    </div>
</body>
</html>